<header>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">HushPush</a>
			<ul class="nav">
				<li class="active"><a href="#"><i class="icon-home"> </i></a></li>
				<li><a href='/help'>Help</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>

			</ul>
			<ul class="nav pull-right">
				<li><a href="#"><i class="icon-wrench"> </i></a></li>
				<li><a href="#"><i class=" icon-plus"> </i> </a></li>
			</ul>
		</div>
	</div>
</header>