<header>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href='/'>HushPush</a>
			<ul class="nav">
				<li class="active"><a href="#"><i class="icon-home"> </i></a></li>
				<li><a href='/help'>Help</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<% if signed_in? %>
					<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
				<% else %>
					<li><a href="/signup">Sign Up</a></li>
					<li><a href="/signin">Sign In</a></li>
				<% end %>
			</ul>
			<ul class="nav pull-right">
				<li><a href="#"><i class="icon-wrench"> </i></a></li>
				<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class=" icon-plus"> </i><b class="caret"></b></a> 
					<%= render 'widgets/widgets_navbar_list' %>
				</li>
			</ul>
		</div>
	</div>
</header>