<header>
<div class="row-fluid">
	<div class="navbar primary">
		<div class="navbar-inner">
			<a class="brand" href='/'>HushPush</a>
			<ul class="nav">
				<li class="active"><a href="#"><i class="icon-home"> </i></a></li>
				<li><a href='/help'>Help</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<% if signed_in? %>
					<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
				<% else %>
					<li><a href="/signup">Sign Up</a></li>
					<li><a href="/signin">Sign In</a></li>
				<% end %>
			</ul>
			<ul class="nav pull-right">
				<% if signed_in? %>
					<li><a href="#">Welcome, <%= current_user.name %>!</a></li>
				<% end %>
				<li><a href="#"><i class="icon-wrench"> </i></a></li>
					<%= render 'widgets/widgets_navbar_list' %>
			</ul>
		</div>
	</div>
</div>
</header>